faiss=1.7.2
faiss-gpu=1.7.2
h5py=3.7.0
pillow=9.2.0
pytorch=1.12.1
scipy=1.7.3
tabulate=0.8.10
tensorboard=2.10.0
termcolor=1.1.0
torchvision=0.13.1
tqdm=4.64.0
yaml=0.2.5

gdown==4.5.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
pyyaml==6.0 
timm==0.5.4